.container {
  margin-bottom: 1rem;
}

.title {
  padding: 1rem;
  font-weight: bold;
}

.question {
  display: block;
  border-top: 1px solid var(--color-grey);
  padding: 1rem;
  padding-left: 3rem;
}
